<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/data" method="Post">
		<label>Enter-Student-Name</label> <input type="text" name="a" placeholder="Name">
		<br> <br> 
		<label>Enter-1st-subject-marks</label> <input type="text" name="b" placeholder="marks"> 
		<br> <br> 
		<label>Enter-2nd-subject-marks</label> <input type="text" name="c" placeholder="marks">
		<br> <br>
		<label>Enter-3rd-subject-marks</label> <input type="text" name="d" placeholder="marks">
		<br> <br>
		<label>Enter-4th-subject-marks</label> <input type="text" name="e" placeholder="marks">
		<br><br>
			<input	type="submit">
	</form>

</body>
</html>